# Dependencies
node_modules/

# Environment variables
.env

# Google credentials
google-credentials.json
*.json

# Logs
*.log
npm-debug.log*

# Uploads folder (temporary files)
uploads/

# OS files
.DS_Store
Thumbs.db
